/.*                export-ignore
/README.md         export-ignore
/composer.lock     export-ignore
/docs              export-ignore
/phpunit.xml       export-ignore
/scripts           export-ignore
/tests             export-ignore
/vendor            export-ignore