sudo: false
language: php
matrix:
  fast_finish: true
  include:
    - php: 7.1
    - php: 7.0
      env: COVERAGE=1
    - php: 5.6
    - php: 5.5
before_script:
  - sh -c "if [ '$COVERAGE' ]; then wget https://scrutinizer-ci.com/ocular.phar -O /tmp/ocular.phar; fi"
  - composer install
script:
  - sh -c "if [ '$COVERAGE' ]; then phpunit --coverage-clover /tmp/clover.xml; fi"
  - sh -c "if [ -z '$COVERAGE' ]; then phpunit; fi"
after_script:
  - sh -c "if [ '$COVERAGE' ]; then php /tmp/ocular.phar code-coverage:upload --format=php-clover /tmp/clover.xml; fi"
